{% extends "_layout.html" %}
{% block title %}
Home
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% endwith %}
<div class="mx-3">
    <h1>Homepage</h1>
    {% for user in users %}
    <div class="d-flex flex-column">
        <p>{{user.username}}</p>
        <div class="d-flex flex-row">
            {% for image in user.images %}
            <img class="m-3" src="{{image.show_gallery_image}}" width="200" height="200" />
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}