{% extends "_layout.html" %}
{% block title %}
Profile Page
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% endwith %}
<div class="d-flex justify-content-center align-items-center flex-wrap my-3">
    <div class="w-75 d-flex flex-row justify-content-around p-3">
        <div class="col-3 d-flex justify-content-end">
            <img src="{{user.profile_image_url}}" width="200" height="200" class="rounded-circle" />
        </div>
        <div class="col-5 d-flex flex-column">
            <h3 class="d-flex ">{{user.username}}</h3>
            <div class="d-flex flex-row justify-content-around">
                <label>{{post_count}} posts</label>
                <label>{{follower_count}} followers</label>
                <label>{{followed_count}} followings</label>
            </div>
            {% if current_user.id == user.id %}
            <button type="button" class=" btn btn-sm btn-outline-dark w-25" data-toggle="modal"
                data-target="#modal_upload"> + post
            </button>

            {% else %}
            {% if already_followed.approved_status == False %}
            <div>
                <button type="button" id="follow" class="btn btn-sm btn-outline-dark" disabled>Pending follow
                    request</button>
            </div>

            {% elif already_followed.approved_status == True %}
            <form action="{{url_for('follows.destroy_follow', id=user.id)}}" id="follow_form" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div>
                    <button type="button" id="follow" class=" btn btn-sm btn-outline-dark w-25"
                        for="follow">Unfollow</button>
                </div>
            </form>
            {% else %}
            <form action="{{url_for('follows.create_follow', id=user.id)}}" id="follow_form" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div>
                    <button type="button" id="follow" class=" btn btn-sm btn-outline-dark w-25"
                        for="follow">Follow</button>
                </div>
            </form>
            {% endif %}
            {% endif %}


            <div class="modal fade" id="modal_upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <!-- MODAL_UPLOAD HERE -->
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body d-flex flex-row">
                            <img src="/static/images/placeholder.png" width="200" height="200" class="m-3" />
                            <div class="d-flex flex-column justify-content-center ">
                                <form action="{{url_for('images.upload_file', id=current_user.id)}}" method="POST"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input name="image_file" type="file" class="form-control-file"
                                        id="exampleFormControlFile1">
                                    <p></p>
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        style="max-width:80px">Upload</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if (already_followed.approved_status) or (user.id == current_user.id) or (user.privacy_status == false)%}
    <div class="w-75 d-flex flex-column justify-content-around">
        <p class="d-flex justify-content-center px-3 py-1 font-weight-bold"># POSTS</p>
        <div class="d-flex flex-row justify-content-center flex-wrap">
            {% for image in user.images %}
            <a href="#" data-toggle="modal" data-target="#myModal{{image.id}}"><img class="m-3 position-relative"
                    src="{{image.show_gallery_image}}" id="image" width=" 250" height="250" /></a>
            {% endfor %}
        </div>
    </div>

    <!-- Large modal -->
    <!-- <div class="image-set"> -->
    {% for image in user.images %}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal{{image.id}}"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content d-flex flex-wrap max-width:800px" style="box-sizing:border-box; overflow:hidden">
                <div>
                    <img class="m-3 d-flex" src="{{image.show_gallery_image}}"
                        data-lightbox="{{image.show_gallery_image}}" id="image" style="max-width:780px" />
                    </a>
                    <div class="modal-footer p-4 d-flex">
                        <a href="{{url_for('donations.new_checkout', id=image.id)}}"
                            class="btn btn-sm btn-outline-danger position-absolute" style="transform:translate(0%, 0%)">
                            donate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- </div> -->
    <!-- ends here -->

    {% else %}
    <div class="w-75 d-flex flex-column align-items-center">
        <p>This account is private</p><br />
        <p>Follow this account to see their posts </p>
    </div>
    {% endif %}
    <script>
        var button = document.querySelector('#follow');
        var form = document.querySelector('#follow_form');
        var image = document.querySelector('#image');
        button.addEventListener('click', function (event) {
            form.submit()
        })
        function onImageClick() {
            $('#myModal').modal()
        }

    </script>
</div> {% endblock %}