{% extends "_layout.html" %}
{% block title %}
Profile Page
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
{% endwith %}
<div class="d-flex justify-content-center align-items-center flex-wrap my-3">
    <div class="w-75 d-flex flex-row justify-content-around p-3">
        <div class="col-3 d-flex justify-content-end">
            <img src="{{user.profile_image_url}}" width="200" height="200" class="rounded-circle" />
        </div>
        <div class="col-5 d-flex flex-column">
            <h3 class="d-flex ">{{user.username}}</h3>
            <div class="d-flex flex-row justify-content-around">
                <label>{{post_count}} posts</label>
                <label>xxxxx followers</label>
                <label>xxxxx following</label>
            </div>
            {% if current_user.id == user.id %}
            <button type="button" class=" btn btn-sm btn-outline-dark w-25" data-toggle="modal"
                data-target="#modal_upload"> + post
            </button>
            {% else %}
            <form action="{{url_for('users.update_follow', id=user.id)}}" id="follow_form" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="checkbox" id="follow" name="follow" class=" btn btn-sm btn-outline-dark w-25"> follow

            </form>
            {% endif %}


            <div class="modal fade" id="modal_upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <!-- MODAL_UPLOAD HERE -->
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body d-flex flex-row">
                            <img src="/static/images/placeholder.png" width="200" height="200" class="m-3" />
                            <div class="d-flex flex-column justify-content-center ">
                                <form action="{{url_for('images.upload_file', id=current_user.id)}}" method="POST"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input name="image_file" type="file" class="form-control-file"
                                        id="exampleFormControlFile1">
                                    <p></p>
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        style="max-width:80px">Upload</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-75 d-flex flex-column justify-content-around">
        <p class="d-flex justify-content-center px-3 py-1 font-weight-bold"># POSTS</p>
        <div class="d-flex flex-row justify-content-center flex-wrap">
            {% for image in user.images %}
            <img class="m-3 position-relative" src="{{image.show_gallery_image}}" width="250" height="250" />
            <div class="d-flex">
                <a href="{{url_for('donations.new_checkout', id=image.id)}}"
                    class="btn btn-sm btn-outline-light position-absolute" style="transform:translate(-150%, 720%)">
                    donate
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        var checkBox = document.querySelector('#follow');
        var form = document.querySelector('#follow_form');
        checkBox.addEventListener('change', function (event) {
            form.submit()
        })
    </script>
</div> {% endblock %}