<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}{% endblock %}
  <title>{% block title %}{% endblock %}NEXTAGRAM</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
      <img src="../static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" /> Nextagram
    </a>
    <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav justify-content-end">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type Username">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../static/user.png" width="28" height="28"
              class="d-inline-block align-top" />{{current_user.username}} </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown"><img src="../static/user.png" width="28"
              height="28" class="d-inline-block align-top" />Settings</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Upload Profile Image</a>
            <a class="dropdown-item" href="/user/edit">Edit profile</a>
            <a class="dropdown-item" href="#">Privacy Policy</a>
            <a class="dropdown-item" href="#">Delete account</a>
          </div>
        </li>
        <li class=" nav-item">
          <a class="nav-link" href="/user/sign_out">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/user/sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>
        </li>
        {% endif%}
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
</body>

</html>