<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}{% endblock %}
  <title>{% block title %}{% endblock %}NEXTAGRAM</title>
</head>
<style>
  body {
    background-image: url("/static/images/bg.png")
  }
</style>

<body>
  <nav class=" navbar navbar-expand-lg justify-content-lg-between navbar-light bg-white">
    <a class="navbar-brand" href="/">
      <img src="/static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" /> Nextagram
    </a>
    <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <ul class="navbar-nav">
        <form class="form-inline my-2 my-lg-0" method="POST">
          <input class="form-control mr-sm-2 form-control-sm" type="search" name="search_user"
            placeholder="Type Username">
          <button class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Search</button>
        </form>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('users.show', username=current_user.username)}}"><img
              src="/static/images/user.png" width="32" height="32"
              class="d-inline-block align-center" />{{current_user.username}} </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown"><img src="/static/images/settings.png" width="28"
              height="28" class="d-inline-block align-top" />Settings</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{url_for('users.edit', id=current_user.id)}}">Edit profile</a>
            <a class="dropdown-item" href="{{url_for('users.edit_account_privacy', id=current_user.id)}}">Account
              Privacy</a>
            <a class="dropdown-item" href="#">Delete account</a>
          </div>
        </li>
        <li class=" nav-item">
          <a class="nav-link" href="{{url_for('sessions.sign_out')}}">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('sessions.sign_in')}}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('users.new')}}">Sign Up</a>
        </li>
        {% endif%}
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
</body>

</html>